<footer class="bg-dark">
  <div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="footer-social">
                  <a href="https://github.com/SeifeldinZook" target="_blank" title="Github"><i class="fa fa-github fa-fw"></i></a>
                  <a href="https://www.linkedin.com/in/zook/" target="_blank" title="Linkedin"><i class="fa fa-linkedin fa-fw"></i></a>
                  <a href="https://www.facebook.com/SeifeldinZook/" target="_blank" title="Facebook"><i class="fa fa-facebook-f fa-fw"></i></a>
                  <a href="https://twitter.com/SeifeldinZook" target="_blank" title="Twiiter"><i class="fa fa-twitter fa-fw"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="copyright">
                    Copyright © 2020 <a>ZOOK</a>
                </p>
            </div>
        </div>
    </div>
</div>

</footer>